/resources/public/example/js/**
/resources/public/tutorial/js/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.cljs_rhino_repl/

!/resources/public/example/js/showcase.js
!/resources/public/tutorial/js/workflow.js
