.row {
  display: inline-block;
  clear: both;
  float: left;
  margin-bottom: 1em;
}

.col {
  float: left;
  margin-right: 1em;
}

aside, blockquote {
  padding: 1em;
}

aside {
  background-color: #fdf3db;
}

blockquote {
  background-color: #eee;
}

/* component defaults  */
.component .label {
  text-decoration: underline;
}

.component-blueprint-editor .CodeMirror {
  height: auto;
}

.component-blueprint-graph {
  /* In some cases vis.js can't reasonably guess container dimensions. */
  width: 500px;
}

.component-blueprint-auditor .valid-mark::before {
  content: "✗"
}

.component-blueprint-auditor.valid .valid-mark::before {
  content: "✓"
}