.row {
  display: inline-block;
  clear: both;
  float: left;
}

.col {
  float: left;
}

p.component-html-element {
  clear: both;
}

.component-editor {
  height: auto;
}

.component-graph {
  min-width: 300px;
  min-height: 300px;
  height: auto;
}

aside, blockquote {
  padding: 1em;
}

aside {
  background-color: #fdf3db;
}

blockquote {
  background-color: #eee;
}