/* normalization
todo: normalize.css? */

pre {margin: 0;}

/* tutorial base */

body {
  font-family: "Noto Serif", "DejaVu Serif", serif;
  margin: 0 1em;
}

p {
  line-height: 1.4em;
}

h2 {
  margin: 0 0 -0.5em 0;  /*temporary*/
  padding: 0;
}

.section {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.75em;
}

.col {
  flex: 1 1 100%;
  margin-right: 2em;
}

.col:first-child {
  margin-right: 0;
}

.col-shrink-2 {
  flex-shrink: 2;
}

.col-shrink-3 {
  flex-shrink: 3;
}

.col-shrink-4 {
  flex-shrink: 4;
}

.col-shrink-5 {
  flex-shrink: 5;
}

.col-height-med {
  height: 25em;
}

.col-center {
  text-align: center;
}


aside.col {
  font-size: 90%;
  color: #666;
  margin-left: auto;
  padding-left: 1em;
  flex: 0 0 25%;
}

/* component-specific */

.component .label {
  text-decoration: underline;
}

.component-blueprint-editor .CodeMirror {
  margin-top: 3px;
  height: auto;
}

.component-blueprint-graph {
  display: flex;
  flex-direction: column;
}

.component-blueprint-graph .graph-container {
  height: 100%;
}

.component-blueprint-graph .segviz {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.component-blueprint-auditor.fixed-bottom {
  background-color: #eee;
  padding: 0.5em 1em;
  width: 100%;
  position: fixed;
  border-top: 2px solid #fff;
  outline: 1px solid #ddd;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.component-blueprint-auditor ul {
  margin-right: 1em;
}

.component-blueprint-auditor .label {
  text-decoration: none;
}

.component-blueprint-auditor .valid-mark::before {
  content: "✗";
  color: red;
  margin-left: 0.25em;
}

.component-blueprint-auditor.valid .valid-mark::before {
  content: "✓";
  color: inherit;
}

.component-blueprint-simulator .controls-container {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.component-blueprint-simulator .controls-container input {
  max-width: 75%;
  margin-bottom: 0.5em;
}

/* misc */

#app .loading {
  font-family: sans-serif;
  color: white;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 3px;
}